# Default ignored files
/shelf/
/workspace.xml
/target/
# Datasource local storage ignored files
/../../../../../../:\soft\idealuwork\cngb\test1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
